.App {
  text-align: center;
}

.App.w3-myfont {
  font-family: "Trebuchet MS";
}

.App-header h1 {
  font-family: 'Tangerine', cursive;
}
.App-header .fa-clock-o {
  font-size: 1.1em;
  margin-right: 10px;
}
